#org-div-home-and-up {
  display: none;
}

body {
  background: white;
  font-family: mono;
  font-size: 0.8rem;
  line-height: 1.1;
}

#content {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 10%;
  margin-left: 6rem;
}

.outline-2 {
  display: inline-block;
  vertical-align: top;
  min-width: 25rem;
  border-top: 2px solid #ddd;
  margin: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
}

.sidebar {
  display: none;
  position: fixed;
  left: 2rem;
  top: 0;
  background: white;
  z-index: 1;
  padding: 2rem;
  padding-top: 0rem;
  margin-top: -0.7rem;
  height: 100%;
  box-shadow: 0 0 1rem 0 lightgrey;
}
.sidebar-sliver {
  position: fixed;
  left: 0;
  top: 0;
  width: 2rem;
  box-shadow: 0 0 1rem 0 #ddd;
  height: 110%;
  padding: 0.2rem;
  margin-top: -1rem;
  background: white;
  z-index: 2;
}
button {
  margin: 0;
  padding: 0.5rem;
  background: none;
  border: none;
  font-size: 200%;
}

.title p, .author p, .date p {
  margin: 0;
  padding: 0;
}

.title {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 150%;
  font-weight: normal;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 0.2rem;
}

.subtitle {
  font-size: 80%;
  color: #444;
  font-weight: normal;
}

.metadata p {
  font-size: 80%;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #777;
}

h2 {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: #0162bc;
}

input {
  border: 1px solid orange;
  border-radius: 3px;
  background: cornsilk;
  width: 8ch;
  font-family: mono;
  padding: 0.15rem;
}
/* Hide spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[readonly] {
  background: #f1f1f1;
  border-color: #bbb;
}
.PASS {
  background: honeydew !important;
  color: darkgreen !important;
}
.PASS::after {
  content: "PASS" !important;
}
.FAIL {
  background: lightpink !important;
  color: darkred !important;
}

blockquote {
  font-size: 90%;
  padding-left: 0.5rem;
  margin: 0;
  font-style: italic;
}

img {
  width: 100%;
}
.figure {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.1rem;
  font-size: 90%;
  text-align: center;
}
.figure p {
  margin-bottom: 0.5rem;
}
.figure-number {
  color: #777;
  font-weight: normal;
}

table {
  margin-top: 2rem;
  margin-left: 0.5rem;
  font-size: 90%;
  border-collapse: none;
}
caption{
  font-weight: normal;
  text-align: left;
  padding-bottom: 1rem;
}
.table-number {
  color: #777;
  font-weight: normal;
}
th, td, th.org-left {
  padding: 0.2rem;
  padding-right: 0.6rem;
  text-align: left;
}

.footnotes {
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
  margin-top: 3rem;
}
.footdef {
  margin-bottom: 1rem;
}
.footpara {
  display: inline;
}

.todo {
  font-family: sans;
  font-size: 10pt;
  font-weight: normal;
  color: seagreen;
  padding-right: 0.2rem;
  text-transform: lowercase;
}
.todo::before {
  content: "(";
}
.todo::after{
  content: ")";
}

.done {
  display: none;
}
