/* Default settings */
*, ::before, ::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
}
html { min-height: 100vh; }
body {
  min-height: 100vh;
  background: #eeeef2;
}

/* Header */
#org-div-home-and-up {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  font-weight: bold;
}
#org-div-home-and-up img {
  height: 100%;
  padding-right: 1rem;
}

/* Status button */
#statusbutton {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  width: 8rem;
  text-align: center;
  padding: 0.5rem;
  border: none;
  background-color: #ddd;
}
#statusbutton:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}
#statusbutton:active {
  transform: translateY(1px);
  background-color: #ccc;
}
.status-green {
  color: darkgreen;
}
.status-red {
  color: darkred;
}

/* Main area */
#content {
  padding-left: 5%;
  padding-top: 4rem;
}

/* Sections */
.outline-2 {
  border: 1px #dcdcdc solid;
  display: inline-block;
  vertical-align: top;
  min-width: 45ch;
  width: 40%;
  max-width: 70ch;
  margin-bottom: 1rem;
  margin-right: 2%;
  padding: 0.5rem;
}
canvas {
  max-width: 100%;
  background: white;
}

/* Input/output */
p {
  padding-bottom: 0.7rem;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.inputspan {
  border: 1px solid #646464;
  background: white;
  padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.outputspan {
  border: 1px solid #64646433;
  background: none;
  padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
input {
  background: none;
  border: none;
  max-width: 7ch;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.PASS {
  background: honeydew;
  color: darkgreen;
}
.FAIL {
  background: lightpink;
  color: darkred;
}

/* Title/headings */
h1 {
  text-transform: uppercase;
  font-size: 130%;
  font-weight: bold;
}
.subtitle {
  font-size: 80%;
  color: #444;
  font-weight: normal;
}
h2 {
  padding-bottom: 0.7rem;
}

/* Links */
a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: #0162bc;
}

/* Org states */
.todo {
  font-size: 80%;
  font-weight: normal;
  color: seagreen;
  padding-right: 0.2rem;
  text-transform: lowercase;
}
.todo::before {
  content: "(";
}
.todo::after{
  content: ")";
}
.done {
  display: none;
}