@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


#org-div-home-and-up {
  display: none;
}

body {
  background: #eeeef2;
  font-family: sans-serif;
  font-size: 10pt;
  line-height: 1;
}

p {
  padding: 0;
  margin: 0;
  margin-top: 0.1rem;
  margin-bottom:0.1rem;
}

#content {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 10%;
  margin-left: 6rem;
}

.outline-2 {
  display: inline-block;
  vertical-align: top;
  min-width: 18rem;
  border: 1px solid #ccc;
  margin: 1rem;
  padding: 0.2rem;
  padding-left: 0.8rem;
}

/* .status {
  position: fixed;
  top: 1.0rem;
  right: 1.5rem;
  border: none;
  width: 20ch;
  min-width: 0;
  padding: 0;
  text-align: right;
  margin: 0;
  color: darkgreen;
  font-weight: bold;
  font-size: 120%;
}
.status h2 {
  padding: 0;
  margin: 0;
} */
#statusbutton {
  position: fixed;
  top: 1.0rem;
  right: 1.5rem;
  padding: 0.7rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 100%;
  border-radius: 2px;
}
.status-red {
  color: darkred;
  background: #fee;
  border: 1px solid darkred;
  transition-duration: 0.2s;
}
.status-red:hover {
  background: white;
  transition-duration: 0.2s;
  cursor: pointer;
}
.status-green {
  color: darkgreen;
  background: none;
  border: 1px solid #eeeef3;
  transition-duration: 0.2s;
}

.sidebar {
  display: none;
  position: fixed;
  left: 1rem;
  top: 0;
  background: white;
  z-index: 1;
  padding: 2rem;
  padding-top: 1.4rem;
  margin-top: -0.7rem;
  height: 100%;
  box-shadow: 0 0 1rem 0 lightgrey;
}
.sidebar-sliver {
  position: fixed;
  left: 0;
  top: 0;
  width: 2rem;
  box-shadow: 0 0 1rem 0 #ddd;
  height: 110%;
  padding: 0.2rem;
  margin-top: -1rem;
  background: white;
  z-index: 2;
}
button {
  margin: 0;
  padding: 0.5rem;
  background: none;
  border: none;
  font-size: 200%;
}

.title p, .author p, .date p {
  margin: 0;
  padding: 0;
}

.title {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 150%;
  font-weight: normal;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 0.2rem;
}

.subtitle {
  font-size: 80%;
  color: #444;
  font-weight: normal;
}

.metadata p {
  font-size: 80%;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #777;
}

h2 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.6rem;
  margin-top: 0.5rem;
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: #0162bc;
}

canvas {
  background: white;
  border: 1px solid darkgrey;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  min-width: 20ch;
  text-align: left;
  margin-right: 1rem;
}
#units {
  display: inline-block;
  float: left;
  margin-left: 0.5rem;
  width: 6ch;
}

input {
  display: inline-block;
  float: left;
  border: 1px solid darkgrey;
  background: white;
  width: 8ch;
  padding: 0.1rem;
  margin-top: -0.3rem;
  margin-bottom: 0.4rem;
}
/* Hide spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[readonly] {
  background: #eeeef3;
  border-color: #eeeef3;
}
.PASS {
  background: honeydew !important;
  color: darkgreen !important;
}
.FAIL {
  background: lightpink !important;
  color: darkred !important;
}

.results-window {
  background: white;
  font-family: monospace;
  font-size: 100%;
  height: 20rem;
  overflow-y: scroll;
}

blockquote {
  font-size: 90%;
  padding-left: 0.5rem;
  margin: 0;
  font-style: italic;
}

.todo {
  font-family: sans;
  font-size: 10pt;
  font-weight: normal;
  color: seagreen;
  padding-right: 0.2rem;
  text-transform: lowercase;
}
.todo::before {
  content: "(";
}
.todo::after{
  content: ")";
}

.done {
  display: none;
}
